<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="text-center">
            Cambiar Contraseña
        </h3>
        <form [formGroup]="cambiarPassword" (ngSubmit)="guardarPassword()">
            <div class="form-group" style="text-align: start;">
                <input formControlName="passwordAnterior" type="password" class="form-control" placeholder="Contraseña Anterior">
                <span class="text-danger ml-3" *ngIf="cambiarPassword.get('passwordAnterior')?.hasError('required') && cambiarPassword.get('passwordAnterior')?.touched">
                    La contraseña <strong>es requerida</strong> 
                </span>
            </div>
            <div class="form-group" style="text-align: start;">
                <input formControlName="newPassword" type="password" class="form-control" placeholder="Nueva Contraseña">
                <span class="text-danger ml-3" *ngIf="cambiarPassword.get('newPassword')?.hasError('required') && cambiarPassword.get('newPassword')?.touched">
                    La Nueva contraseña <strong>es requerida</strong> 
                </span>
                <span class="text-danger ml-3" *ngIf="cambiarPassword.get('newPassword')?.hasError('minlength') && cambiarPassword.get('newPassword')?.touched">
                    La Nueva contraseña debe contener <strong>minimo 4 caracteres</strong> 
                </span>
            </div>
            <div class="form-group" style="text-align: start;">
                <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Repetir Contraseña">
                <span class="text-danger ml-3" *ngIf="cambiarPassword.hasError('notSame')">
                    Contraseñas <strong>distintas</strong>
                </span>
            </div>
            <div class="col text-center">
                <button [disabled]="cambiarPassword.invalid" class="btn btn-primary mr-2 btn-acep">
                    Aceptar
                </button>
                <button [routerLink]="['/dashboard']" class="btn btn-secondary">
                    Volver
                </button>
            </div>
        </form>
    </div>
</div>